<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emre.one_to_many_java">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.One_to_many_java">
        <activity android:name=".bookList.BookDetailActivity"></activity>
        <activity android:name=".bookList.BookListActivity" />
        <activity android:name=".book.AddBookActivity" />
        <activity android:name=".author.AddAuthorActivity" />
        <activity android:name=".publisher.AddPublisherActivity" />
        <activity android:name=".genre.AddGenreActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>